@mixin margin-left-right($margin){
	margin-left: $margin;
	margin-right: $margin;
}

@mixin padding-left-right($padding){
	padding-left: $padding;
	padding-right: $padding;
}

%logo{
	background-color: transparent;
	color: $logo-bg-color;
	font-size: 1rem;
	text-align: center;
	padding: 5px 25px;
}

%logo-title{
	font-size: 1.1rem;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.5rem;
	margin-right: -0.5rem;
	font-weight: bold;
}

%logo-subtitle{
	display: inline-block;
	font-size: 0.6rem;
	text-transform: lowercase;
	font-family: $logo-subtitle-font-family;
	color: #999;
	text-transform: capitalize;
	-webkit-transform: rotate(-8deg);
	-moz-transform: rotate(-8deg);
	-ms-transform: rotate(-8deg);
	transform: rotate(-8deg);
}

/* --- nav */
#nav-main{
	display: flex;
	background-color: $nav-main-bg-color;
	min-height: 50px;
	
	.nav-main-item{
		padding: 1px 15px;
		width: 33.3%;

		/* search div */
		&:nth-child(1){
			display: flex;
			#form-search{
				display: inline;
				input{
					outline: none;
					border: 0 none;
					line-height: 100%;
				}
			}
			.fa-search{
				font-size: 0.6rem;
				margin-right: 5px;
				color: $fa-search-color;
			}
		}
		/* logo div */
		&:nth-child(2){
			@extend %logo;
			line-height: 60%;
			.nav-logo-title{
				@extend %logo-title;
				margin-bottom: 0;
			}
			.nav-logo-subtitle{
				@extend %logo-subtitle;
			}
		}
		/* cart div */
		&:nth-child(3){
			display: flex;
			text-align: right;
			color: $cart-div-text-color;
			font-size: 0.8em;
			.fa-shopping-basket{
				display: inline-block;
				margin-right: 5px;
				font-size: 1.2rem;
			}
			.cart-info{
				display: flex;
				.cart-info-link{
					font-size: 0.7rem;
					color: $cart-link-color !important;
					text-decoration: none;
					line-height: 100%;
					&:hover{
						text-decoration: underline;
					}
				}
				.cart-info-ref{
					display: block;
					font-size: 0.6rem;
					text-align: left;
					text-transform: uppercase;
				}
			}
		}
	}
}
/* --- end nav */

/* --- cover */
#home-cover{
	width: 100%;
	height: 400px;
	background: $cover-bg-img;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: flex;

	.logo{
		@extend %logo;
		background-color: $cover-logo-bg-color;
		color: $logo-cover-text-color;

		.logo-title{
			@extend %logo-title;
			font-size: 2rem;
			letter-spacing: 0.9rem;
			margin-right: -0.9rem;
			padding: 10px 10px;
			line-height: 90%;
		}
		.logo-subtitle{
			@extend %logo-subtitle;
			font-size: 1rem;

		}
	}
}
/* --- end cover */

/* --- products */
$product-row-height: 400px;

%products-btn{
	border-radius: 20px;
	text-transform: uppercase;
	font-size: 0.5rem;
	padding: 7px 25px;
}

#products{
	background-color: $products-div-bg-color;
	.product{
		@include margin-left-right(0px);
		.product-cover{
			@include padding-left-right(0px);
			float: left;
			width: 50%;
			height: $product-row-height;
			position: relative;
			display: flex;
			overflow:hidden;
			img{
				height: 100%;
			}
			.product-cover-info{
				position: absolute;
				top: 15%;
				left: 15%;
				width: 70%;
				height: 70%;
				display: flex;
				text-align: right;
				flex-direction: column;
				justify-content: flex-end;
				align-items: flex-end;
				h3{
					text-transform: uppercase;
					font-family: $product-cover-info-title-font-family;
					letter-spacing: 0.1rem;
					margin-right: -0.1rem;
					font-weight: bold;
					text-shadow: 0px 0px 30px #fff;
					font-size: 1.5rem;
				}
				.description{
					font-size: 0.8rem;
					color: #333;
					font-family: $product-cover-info-description-font-family;
					text-shadow: 0px 0px 10px #fff;
				}
				span{
					font-size: 0.6rem;
					color: #eee;
					font-weight: bold;
					text-shadow: 0px 0px 30px #000;
					display: inline-block;
					span{
						text-transform: uppercase;
					}
				}
				.btn{
					@extend %products-btn;
					.fa-chevron-right{
						margin-left: 5px;
					}
				}
			}
		}
		.product-types{
			float: left;
			width: 50%;
			display: flex;
			flex-wrap: wrap;
			@include padding-left-right(0px);
			.product-type{
				width: 50%;
				display: flex;
				background-color: #fff;
				height: $product-row-height / 2;
				position: relative;
				.product-type-end{
					display: flex;
					padding: 10px 15px;
					.product-type-price-name{
						font-size: 0.7rem;
						color: #777;

						.product-type-price{
							display: block;
							line-height: 95%;
						}
						.product-type-name{
							font-size: 0.6rem;
						}
					}
					.product-type-favorite-btn > .fa-heart{
						color: #666;
						font-size: 0.7rem;
					}
				}
				&:nth-child(3n+1){
					background-color: rgb(238, 238, 238);
				}
			}
			.corner-cart {
				content: "";
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				z-index: 1;
				box-shadow: 5px 5px 7px rgba(0,0,0,.1);
				&:before{
					content: "";
					font-family: "FontAwesome";
					line-height: -200px;
					position: absolute;
					width: 0;
					height: 0;
					top: 0;
					left: 0;
					border-style: solid;
					border-width: 37px 37px 0 0;
					border-color: $gold-color transparent transparent transparent;
					z-index: 1;
					box-shadow: 0 -1px -1px 0 red;
				}
				.fa-shopping-cart {
					color: #ffffff;
					position: absolute;
					z-index: 2;
					font-size: 0.7rem;
					top: 5px;
					left: 5px;
				}
			}
		}
		&:nth-child(even) .product-cover h3{
			text-align: left;
		}
		&:nth-child(even) .product-cover-info{
			justify-content: flex-start;
			align-items: flex-start;
		}
		&:nth-child(even) .product-type:nth-child(3n+1){
			background-color: #eeeeee;
		}
	}
}
/* --- end products */