<footer id="footer-main">
	<div class="row">
		<div class="col-md-6 col-12">
			<div class="row">
				<div class="col-md-6 col-7">
					<h6>umbra furniture</h6>
					<span class="mb-3">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla convallis, velit id egestas efficitur, urna purus.
					</span>
					<span class="footer-line-text height-auto">
						<i class="fas fa-map-marker footer-icon"></i>
						1234 Some Street, Paris France
					</span>
					<span class="footer-line-text height-auto">
						<i class="fas fa-phone footer-icon"></i>
						+(425) 234 - 6537
					</span>
					<span class="footer-line-text height-auto">
						<i class="fas fa-at footer-icon"></i>
						contact@gul.com
					</span>
				</div>
				<div class="col-md-6 col-5">
					<h6>opening time</h6>
					<span class="open-time-text">
						Mon - Fri: 5AM - 10PM
					</span>
					<span class="open-time-text">
						Sat - Fri: 8AM - 6PM
					</span>
					<span class="open-time-text">
						Sun - Closed
					</span>
				</div>
			</div>
		</div>
		<div class="col-md-6 col-12">
			<div class="row">
				<div class="col-md-4 col-4">
					<h6>about</h6>
					<a href="#">About Us</a>
					<a href="#">More Info</a>
					<a href="#">Something Else</a>
					<a href="#">Privacy Policy</a>
					<a href="#">Our Store</a>
				</div>
				<div class="col-md-4 col-4">
					<h6>account</h6>
					<a href="#">My Account</a>
					<a href="#">Something</a>
					<a href="#">Order Product</a>
					<a href="#">Shipping Info</a>
					<a href="#">Return Policy</a>
				</div>
				<div class="col-md-4 col-4">
					<h6>follow us</h6>
					<span class="footer-line-text">
						<i class="fab fa-facebook-f footer-icon"></i>
						<a href="#">Facebook</a>
					</span>
					<span class="footer-line-text">
						<i class="fab fa-twitter footer-icon"></i>
						<a href="#">Twitter</a>
					</span>
					<span class="footer-line-text">
						<i class="fab fa-youtube footer-icon"></i>
						<a href="#">YouTube</a>
					</span>
					<span class="footer-line-text">
						<i class="fab fa-instagram footer-icon"></i>
						<a href="#">Instagram</a>
					</span>
					<span class="footer-line-text">
						<i class="fas fa-rss footer-icon"></i>
						<a href="#">RSS</a>
					</span>
				</div>
			</div>
		</div>
	</div>
	<div class="payment-types">
		<i class="fab fa-cc-paypal payment-type-icon"></i>
		<i class="fab fa-cc-amex payment-type-icon"></i>
		<i class="fab fa-cc-amazon-pay payment-type-icon"></i>
		<i class="fab fa-cc-visa payment-type-icon"></i>
	</div>
	<div class="copyright">
		Copyright &copy; 2015 GUL - Some text here - All rights reserved
	</div>
</footer>