<!-- main nav -->
<nav id="nav-main" class="justify-content-between align-items-center">
	<div class="nav-main-item">
		<i class="fas fa-search align-self-center"></i>
		<form id="form-search">
			<input type="text" name="" placeholder="Search">
		</form>
	</div>
	<div class="nav-main-item nav-logo ">
		<h1 class="nav-logo-title">gul</h1>
		<span class="nav-logo-subtitle">ey resjoa</span>
	</div>
	<div class="nav-main-item justify-content-end">
		<i class="fas fa-shopping-basket align-self-center"></i>
		<span class="cart-info flex-column align-items-center">
			<a href="#" class="cart-info-link">Cart(2)</a>
			<span class="cart-info-ref">ec4s3f</span>
		</span>
	</div>
</nav>
<!-- end main nav -->