@import url('https://fonts.googleapis.com/css?family=Herr+Von+Muellerhoff');
@import url('https://fonts.googleapis.com/css?family=Rubik');
@import url('https://fonts.googleapis.com/css?family=Itim');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

html{
	font-size: 1em;
}

body{
	padding: 0;
	margin: 0;
	background-color: rgb(221, 222, 216);
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 0.7rem;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.7rem;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.7rem;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.7rem;
}

@media (min-width: 1200px) {
    .container{
        max-width: 1000px;
    }
}

h1, h2, h3, h4, h5, h6 {
	color: $document-text-color;
	font-weight: bold;
}
	
	
p {
	margin: 0 0 20px 0;
}
	
a {
	color: $link-color;
	text-decoration: none;
	outline: 0 none;
	
	&:hover, &:focus {
		color: lighten($link-color, 20%);
	}
}

.gold-color {
	color: $gold-color !important;
}

.height-auto {
	height: auto !important;
}

/* --- footer */
#footer-main {
	padding: 0px 30px 50px 30px;
	background-color: $footer-main-bg-color;
	color: $footer-text-color;
	h6 {
		color: $footer-text-color;
		font-weight: 400;
		text-transform: uppercase;
		font-size: 0.75rem;
		border-left: 1.5px solid $left-border-color;
		line-height: 90%;
		display: block;
		padding-left: 5px;
		margin: 50px 0 25px 0;
	}
	span, .open-time-text, .footer-line-text, a {
		display: block;
		color: $footer-text-color;
		font-size: 0.65rem;
		padding-bottom: 4px;
		font-weight: 100;
		height: 20px;
		.footer-icon {
			width: 10px;
			display: inline-block;
			margin-right: 7px;
		}
		a{
			display: inline-block;
		}
	}
	span, .open-time-text {
		height: auto;
	}
	.open-time-text {
		border-bottom: 1px dotted rgba(255, 255, 255, 0.1);
		padding: 5px 0;
	}
	a{
		text-decoration: none;
		&::before {
			font-family: FontAwesome;
		}
		&:hover {
			color: $gold-color;
			&::before {
				content: "»";
				margin-right: 4px;
			}
		}
	}
	.payment-types {
		display: flex;
		justify-content: center;
		margin-top: 20px;
		.payment-type-icon {
			color: $footer-text-color;
			font-size: 1.5rem;
			margin: 0 10px;
		}
	}
	.copyright {
		text-align: center;
		font-size: 0.65rem;
		display: block;
		margin-top: 10px;
	}
}