/* -- base*/
$body-bg-color: #cccccc;
$document-text-color: #333333;
$link-color: #3f9db7;
$gold-color: rgb(214, 165, 66);
$logo-cover-text-color: #ffffff;

/* -- nav*/
$nav-main-bg-color: #ffffff;
$fa-search-color: #777777;
$cart-div-text-color: #999999;
$cart-link-color: #444444;
$logo-subtitle-font-family: 'Herr Von Muellerhoff', cursive;

/* -- cover*/
$cover-bg-img: url('/assets/img/cover-bg.jpg') no-repeat center center;
$logo-bg-color: #444444;
$cover-logo-bg-color: #222222;

/* -- footer*/
$footer-text-color: #ccc;
$footer-main-bg-color: #222;
$left-border-color: $gold-color;

/* -- home page*/
$products-div-bg-color: #ffffff;
$product-cover-info-title-font-family: 'Rubik', sans-serif;
$product-cover-info-description-font-family: 'Itim', cursive